<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99298816093-44ovj84oo0eeh7g86rgaujbbk750ib8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99298816093-44ovj84oo0eeh7g86rgaujbbk750ib8t</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Mktti5amG0Go7UuF-uYO0AXMeka_XIo</string>
	<key>GCM_SENDER_ID</key>
	<string>99298816093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.requarterinc.Noomitpad</string>
	<key>PROJECT_ID</key>
	<string>noomitpad-b18a5</string>
	<key>STORAGE_BUCKET</key>
	<string>noomitpad-b18a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99298816093:ios:54e85ee7c8419468b79db4</string>
</dict>
</plist>